@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: #FFFFFF;
}

/* Global Input + Button Styles */
input, select, button {
    font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 12px;
    transition: .2s;
}

input:focus, select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74,144,226,0.4);
    outline: none;
}

button {
    padding: 12px;
    background: #000;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: .25s;
}
button:hover {
    background: #333;
}

.button-full{
    width: 100%;
}

/* Global Card Section */
.section {
    height: fit-content;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #cccccc;
    margin-bottom: 24px;
    transition: .3s ease;
    border: 2px solid black;
}
.section:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
    background: #eef3ff !important;
}
.section h3 {
    margin-bottom: 12px;
    color: #34495e;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}

/* Status Badges */
.status-badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}
.status-pending { background: #FFE599; color: #8A6D00; }
.status-progress { background: #B6E0FF; color: #004B8D; }
.status-completed { background: #C7F8C4; color: #1A7F37; }

.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
